.color-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9b9898;
  }
  
  .color-display {
    width: 500px;
    height: 300px;
    margin: 10px;
    border-radius: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.566);
  }
  
  button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .color-options {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  